.hf{
    background-color: rgb(202, 199, 199);
    height: 100px;
    display: flex;
    align-self: center;
    align-items: center;
}
.navigation{
    display: flex;
    background-color: rgb(202, 199, 199);
    margin-top: 20px;
}
#content1{
    background-color: rgb(202, 199, 199);
}
#content2{
    background-color: rgb(202, 199, 199);
    margin-left: 1000px;
}
#maincontent{
    background-color: rgb(202, 199, 199);
    margin-left: 600px;
}
/* .nav{
    color: white;
    margin: 10px;
    padding: 20px;
    font-size: 20px;

} */